.header {
    text-align: center;
    padding-bottom: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 13px;
    text-align: center;
}

h3{
    background-color: lightgray;
}

table th {
    background-color: lightgray;
}

.row div{
    /*display: inline-block;*/
    height: auto;
}

.seller-info{
    float:left;
}

.buyer-info{
    float:right;
}

.dates-info{
    float: right;
}

.hidden {
    visibility: hidden;
}

.highlighted {
    background-color: lightgray;
}

.borderless {
    width: 400px;
}

.noBorder {
    border: none !important;
}

.bold {
    font-weight: bold;
}