.header {
    text-align: center;
    padding-bottom: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}

h3{
    background-color: lightgray;
}

table th {
    background-color: lightgray;
}

.contractors-data div{
    display: inline-block;
    height: auto;
}

.seller-info{
    float:left;
}

.buyer-info{
    float:right;
}
