<table class="table table-responsive">
  <thead>
    <tr>
      <th class="col-md-1 col-sm-1 col-xs-1">Id</th>
      <th class="col-md-1 col-sm-1 col-xs-1">Numer</th>
      <th class="col-md-1 col-sm-1 col-xs-1">Sprzedawca</th>
      <th class="col-md-1 col-sm-1 col-xs-1">Data sprzedaży</th>
      <th class="col-md-1 col-sm-1 col-xs-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invoice of invoices let i = index" [attr.data.index]="i">
      <td class="col-md-1 col-sm-1 col-xs-1">{{i + 1}}</td>
      <td class="col-md-1 col-sm-1 col-xs-1">{{i + 1}}</td>
      <td class="col-md-1 col-sm-1 col-xs-1">{{i + 1}}</td>
      <td class="col-md-1 col-sm-1 col-xs-1">{{i + 1}}</td>
      <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-primary" (click)="downloadFile(invoice.id)">Pobierz plik</button></td>
      <!--<td class="col-md-1 col-sm-1 col-xs-1">{{book.title}}</td>
  <td class="col-md-1 col-sm-1 col-xs-1">{{book.author}}</td>
  <td class="col-md-1 col-sm-1 col-xs-1">{{book.status | statusPipe}}</td>
  <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-primary" (click)="getBook(book.id)">Details</button></td>
  <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-success" (click)="updateBook(book.id)">Update</button></td>-->
      <!--<td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button></td>-->
    </tr>
    <tr *ngIf="books.length == 0">
      <td style="text-align: center" colspan="8">{{tableEmptyInfo}}</td>
    </tr>
  </tbody>
</table>
