<div class="container">
  <div class="row" style="display:inline-block">
    <div class="column">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Faktury kosztowe</h5>
          <p class="card-text">Rozliczaj, dodawaj oraz zarządzaj fakturami kosztowymi</p>
          <a href="/cost-invoices" class="btn btn-primary">Przejdź</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Faktury sprzedaży</h5>
          <p class="card-text">Generuj, zarządzaj oraz wysyłaj faktury sprzedaży do kontrahentów</p>
          <a href="#" class="btn btn-primary">Przejdź</a>
        </div>
      </div>
    </div>
  </div>
</div>



