<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Invoicing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>-->
    <div class="topnav-right">
      <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Zaloguj</a>
        <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/register" routerLinkActive="active">Zarejestruj</a>
        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            {{authService.getEmail()}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="authService.logout()">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
