<h2>
  Faktury sprzedaży
</h2>
<div>
  <a class="float-left" [routerLink]="['/sale-invoices/add']">
    <button type="button" class="btn add-btn">Dodaj fakturę sprzedaży</button>
  </a>
</div>
<div>
  <a class="float-right" [routerLink]="['/generate-invoice']">
    <button type="button" class="btn add-btn">Generuj fakturę sprzedaży</button>
  </a>
</div>
<div>
  <table class="table table-responsive fixed table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Lp.</th>
        <th>Numer</th>
        <th>Kontrahent</th>
        <th>Data</th>
        <th>Kwota brutto</th>
        <th>Kwota netto</th>
        <th>VAT</th>
        <th>Opłacona</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices let i = index" [attr.data.index]="i">
        <td>{{i + 1}}</td>
        <td>{{invoice.invoiceNumber}}</td>
        <td>{{invoice.contractor | displayContractor}}</td>
        <td>{{invoice.date | date:'yyyy-MM-dd'}}</td>
        <td>{{invoice.grossAmount}}</td>
        <td>{{invoice.netAmount}}</td>
        <td>{{invoice.vatAmount}}</td>
        <td>{{invoice.isPaid | booleanText}}</td>
        <td>
          <button class="btn btn-primary" (click)="downloadFile(invoice.id)">Pobierz</button>
        </td>
        <td>
          <a [routerLink]="['/cost-invoices/edit/', invoice.id]">
            <button type="button" class="btn btn-primary">Edytuj</button>
          </a>
        </td>
        <td>
          <button type="button" class="btn btn-danger mr-1" (click)="deleteInvoice(invoice.id, i)">Usuń</button>
        </td>
      </tr>
      <tr *ngIf="invoices.length == 0">
        <td style="text-align: center" colspan="8" [@flash]="flash">{{tempInfo}}</td>
      </tr>
    </tbody>
  </table>
</div>

