<div class="row">
  <div class="col-md-6">
    <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Imię" name="firstName" tmFocus ngModel>
      </div>
      <div class="form-group">
        <label for="lastName">Nazwisko</label>
        <input type="text" class="form-control" id="lastName" placeholder="Nazwisko" name="lastName" tmFocus ngModel>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" name="email" tmFocus ngModel>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" validatePassword class="form-control" id="password" name="password" placeholder="Hasło" ngModel #password="ngModel">
        <!--<small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Hasło musi zawierać co najmniej 8 znaków, w tym przynajmniej jedną wielką oraz małą literę, pzrynajmniej jedną cyfrę oraz znak specjalny</small>-->
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || isRequesting">Zarejestruj się</button>
        <!--<app-spinner [isRunning]="isRequesting"></app-spinner>  TODO-->
      </div>
    </form>
  </div>
</div>
